{% extends 'base.html' %}
{% block title%}Password Reset{% endblock %}
{% block content %}
<div class="container-fluid p-3 hero-sec">
    <div class="row text-center">
        <div class="col-lg-6 col-md-9 col-12 mx-auto">
            <div class="container px-5 py-4 text-center layout">

                <h1>Welcome</h1>
                <p class="lead">Reset your password</p>

                <!--form-->
                <form method="post">
                    {% csrf_token %}

                    <div class="row form-group">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" placeholder="Enter your email" name="email"
                            id="">
                    </div>

                    <button type="submit" class="login-btn mt-4">
                        Send Email
                    </button>
                </form>

                <p class="lead mt-5 sign-up-p">Check your email for a reset link.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}